# --- Vector Database ---
# Connection string for PGvector
CONNECTION_STRING=postgresql+psycopg2://postgres@cbq2-svd-daldb1:1830/vector

# --- Local Embeddings Model ---
# Absolute path to the instructor-xl model directory
EMBEDDING_MODEL_PATH=D:\\EmbeddingModel\\instructor-xl

# --- Ollama LLM ---
OLLAMA_BASE_URL=http://10.1.94.110:11434
OLLAMA_MODEL_ID=llama3:70b
